<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-my:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_my_Web_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-my-new" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring-my-new/web/Web" />
    </root>
  </artifact>
</component>